@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root{
    --primary-font: 'Comic+Neue';
    --background: rgba(12, 28, 40, 0.68);
    --primary-color: #FFFFFF;
}
body{
    background-color: rgba(12, 28, 40, 1);
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 400;
}

.navigationMenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.navigationMenu--logo{
    font-weight: 600;
    text-transform: uppercase;
}

.navigationMenu__itens{
    display: none;
}