.galery{
    text-align: center;
    margin: 2rem;
}

.galery--title{
    font-size: 1.5rem;
    font-weight: 700;
}

.galery--text{
    line-height: 142.5%;
    padding: 1rem 0 2rem 0;
}

.galery--text span{
    color: var(--blue);
}

.galeryList{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.galeryList--image{
    width: 6.5rem;
    height: 6.5rem;
    flex-shrink: 0;
}

.galeryList--text{
    font-size: .2rem;
}

@media screen and (min-width: 1024px) {
    .galeryList{
        margin-top: 1.5rem;
    }
    .galery--title{
        font-size: 3rem;
    }
    
    .galery--text{
        font-size: 2rem;
    }
    
    .galeryList--image{
        width: 15rem;
        height: 15rem;
    }
    
    .galeryList--text{
        font-size: .8rem;
    }
}