@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url(./header.css);
@import url(./banner.css);
@import url(./services.css);
@import url(./galery.css);
@import url(./testimonials.css);

:root{
    --primary-font: 'Comic+Neue';
    --secundary-color: #0C1C28;
    --primary-color: #FFFFFF;
    --blue: #38A1C6;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--secundary-color);
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 400;
}

